.root{
        -fx-background-color: #000000;
}
#playMenuButton, #helpMenuButton, #recipesMenuButton, #exitMenuButton{
        -fx-text-fill: #000000; 
        -fx-font-weight: bold; 
        -fx-font-size: 30px
}
#playMenuButton{
	 -fx-background-color: #d93b23;
	
}
#helpMenuButton{
	-fx-background-color: #ef6f3a;
}
#recipesMenuButton{
	-fx-background-color: #f3ab4f;
	
}
#exitMenuButton{
	 -fx-background-color: #fce980;
}
#title{
        -fx-fill: #fffa7a; 
        -fx-font-size: 96px;    
}
