.root{
    -fx-background-color: #444444;

}
#title{
	-fx-fill: #fffa7a; 
	-fx-font-size: 96px;   
}
#label
{
	-fx-background-color:#444444;		
	-fx-text-fill: #000000;
	-fx-font-weight: bold; 
	-fx-font-size: 15px; 
	
	
} 
#backButton{
		 -fx-background-color: #ffffff;		
		  -fx-font-weight: bold; 
	         -fx-font-size: 15px; 
}

#recipes-title{
 -fx-font-weight: bold; 
 -fx-font-size: 15px;
 -fx-background-color: #ffffff;		         
}

#recipes{
	-fx-font-size: 35px; 
}