.root{
        -fx-background-color: #000000 ;
}
#playMenuButton, #helpMenuButton, #recipesMenuButton, #exitMenuButton{
        -fx-text-fill: crimson; 
}
#helpMenuButton{

}
#recipesMenuButton{

}
#exitMenuButton{

}
#title{
        -fx-fill: #ffffff; 
        -fx-font-size: 96px; 
}