.root{
        -fx-background-color: linear-gradient(from 25% 25% to 100% 100%, #ff758c, #ff7eb3);
}
#playMenuButton, #helpMenuButton, #recipesMenuButton, #exitMenuButton{
        -fx-text-fill: crimson; 
}
#helpMenuButton{

}
#recipesMenuButton{

}
#exitMenuButton{

}
#title{
        -fx-text-fill: #ffffff; 
        -fx-font-size: 96px; 
}