.root{
    -fx-background-color: #444444;
}
#title{
		-fx-fill: #fffa7a; 
        -fx-font-size: 96px;   
}
#easyLevel, #mediumLevel, #hardLevel, #backButton{
	 -fx-font-weight: bold; 
	         -fx-font-size: 15px;
}
#easyLevel{
	 -fx-background-color: #83b860;	 
}
#mediumLevel{
	 -fx-background-color: #f6c759;
	 

}
#hardLevel{
	 -fx-background-color: #ec4b34;	 
}
#backButton{
		 -fx-background-color: #ffffff;		 
}